.nav_class a{
 color: #A9A9A9;
   margin-left:50%;
   cursor: pointer;
   text-align: center;
   
}
.nav_class a:hover{
  color: purple;

}
.nav_class{
    position: fixed;
    
    margin-top: 10%;
    text-align: center;
}

  @media screen and (max-width: 870px) {
    .nav_class a {
        font-size: 10px;
        margin-left: 0;
       
        
    }
    .nav_class{
        position: fixed;
    }
  }
  body{
    overflow-x: hidden;
  }
  .land{
    background-image: url('./header.png');
    height: 100vh;
  
     background-repeat: no-repeat;
     background-size: contain;
  }
  .land_dark{
    
    background-color: rgba(365,365,365,0.2);
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    text-align: center;
  vertical-align: middle;
    
  }
  ::-webkit-scrollbar { 

    display: none;

}
.center{
 margin-top: -35%;
line-height: 40px;
padding-left: 65vh;
  text-align: left;
  position: absolute;
  z-index: 999;

}
.icon{
  margin-left: 10px;
  height: 25px;
  width: 25px;
cursor: pointer;
}

.name{
  font-size: 45px;
  font-family:  cursive;
 
  color: #100303;
}
.about{
  height: 100vh;
background-color: white;

}
.about_page{
    background-image: url('./about_back.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin-left: 15%;
}
.education{
  height: 100vh;
background-color: rgb(128, 128, 128,0.1);
}
.hobbi{
  height: 100vh;
  background-color: black;
}
.skill{
  height: 120vh;
 
}
.skill_cart{
  background-color: #100303;
  width: 100%;
  height: 80%;
}
.work{
  height: 100vh;
background-color: #f0f2f7;
}
.vl {
  border-left: 4px solid grey;
  height: 40vh;
  position: absolute;
  margin-top: 5vh;
  margin-left: 50%;
 
}
.java{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.one{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.two{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.three{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.four{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.five{
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-left: 10px;
  background-color: rgb(149, 56, 158);
}
.java h1{
  font-size: 20px;
  margin-left: 220px;
}
.row_one{
  display: flex;
  flex-direction: row;
}
.kotlin{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.kotlin h1{
  font-size: 20px;
  margin-left: 80px;
}
.cpp{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.cpp h1{
  font-size: 20px;
  margin-left: 70px;
}
.intelij{
  
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.intelij h1{
    font-size: 20px;
    margin-left: 220px;
  
}
.spring{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.spring h1{
  font-size: 20px;
  margin-left: 70px;
}
.circle_one{
  height: 20px;
  width: 20px;
  border: 4px solid gray;
  border-radius: 100px;
  padding-right: 10px;
  position: absolute;
  margin-left: -13px;
  background-color: gray;
  z-index: 100;

}
.circle_two{
  height: 20px;
  width: 20px;
  border: 4px solid grey;
  border-radius: 100px;
  padding-right: 10px;
  position: absolute;
  margin-left: -13px;
  z-index: 1;
  margin-top: 11vh;
  background-color: gray;
}
.circle_three{
  height: 20px;
  width: 20px;
  border: 4px solid grey;
  border-radius: 100px;
  padding-right: 10px;
  position: absolute;
  margin-left: -13px;
  margin-top: 30vh;
  background-color: gray;
}
.circle_four{
  height: 20px;
  width: 20px;
  border: 4px solid grey;
  border-radius: 100px;
  padding-right: 10px;
  position: absolute;
  margin-left: -13px;
  margin-top: 40vh;
  background-color: gray;
}
.yek{
text-align: left;
  margin-left: 50px;
  position: absolute;
height: 180px;
width: 400px;

}
.triangle{
  position: absolute;
  margin-left: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
  }
.do{
position: absolute;
margin-top: 10vh;
text-align: left;
margin-left: -420px;
height: 180px;
width: 370px;
}
.triangle1{
 
  margin-top: 10vh;
  position: absolute;
  margin-left: -50px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 20px solid transparent;
  }
.se{
  position: absolute;
  margin-top: 29vh;
  text-align: left;
  margin-left: 50px;
  height: 150px;
width: 400px;
}
.char{
  position: absolute;
  margin-top: 39vh;
  text-align: left;
  margin-left: -420px;
  height: 140px;
  width: 370px;
  }
.triangle2{
  margin-top: 29vh;
  position: absolute;
  margin-left: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .triangle3{
 
    margin-top: 39vh;
    position: absolute;
    margin-left: -50px;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 20px solid transparent;
    }
.one_edu{
position: absolute;
margin-top:50px;
margin-left: 120px;
height: 150px;
width: 150px;
background-color: rgb(67, 216, 201, 0.5);
border-radius: 100px;
text-align: center;
}
.one_edu h1{
  text-align: center;
  font-size: 20px;
  position: absolute;
  margin-top: 40%;
  margin-left: 30px;
}
.two_edu{
  position: absolute;
  margin-top:350px;
  margin-left: 120px;
  height: 150px;
  width: 150px;
  background-color: rgb(67, 216, 201, 0.5);
  border-radius: 100px;
}
.two_edu h1{
  text-align: center;
  font-size: 20px;
  position: absolute;
  margin-top: 40%;
  margin-left: 30px;
}
.edu1{
  z-index: 999;
  position: absolute;
 
  margin-left: 15px;
  margin-top: 15px;
  height: 150px;
  width: 950px;
  text-align: left;
  font-size: 22px;
}
.edu1_1{
  position: absolute;
  margin-top: 45px;
  margin-left: 15px;
  height: 150px;
  width: 910px;
  text-align: left;
  font-size: 19px;
}
.edu1_2{
  position: absolute;
  margin-top: 103px;
  margin-left: 15px;
  height: 150px;
  width: 910px;
  text-align: left;
  font-size: 19px;
}
.edu2{
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  height: 150px;
  width: 950px;
  text-align: left;
  font-size: 22px;
}
.edu2_1{
  position: absolute;
  margin-top: 52px;
  margin-left: 15px;
  height: 150px;
  width: 950px;
  text-align: left;
  font-size: 19px;
}
.edu2_2{
  position: absolute;
  margin-top: 100px;
  margin-left: 15px;
  height: 150px;
  width: 950px;
  text-align: left;
  font-size: 19px;
}
.h1_edu1{
  position: absolute;
  margin-top: 80px;
  margin-left: 320px;
  height: 150px;
  width: 900px;
  text-align: left;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  
}
.h1_edu2{
  position: absolute;
  margin-top: 380px;
  margin-left: 320px;
  height: 150px;
  width: 900px;
  text-align: left;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
}
.t1{
  margin-top: 90px;
  position: absolute;
 margin-left: 280px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right:40px solid  white;
   
    border-bottom: 30px solid transparent;
   
}
.t2{
  margin-top: 390px;
  position: absolute;
 margin-left: 280px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right:40px solid  white;
   
    border-bottom: 30px solid transparent;
}