.nav_class a{
 color: #A9A9A9;
   margin-left:50%;
   cursor: pointer;
   text-align: center;
   
}
.nav_class a:hover{
  color: purple;
}
.nav_class{
    position: fixed;
    
    margin-top: 10%;
    text-align: center;
}

  @media screen and (max-width: 870px) {
    .nav_class a {
        font-size: 10px;
        margin-left: 0;
       
        
    }
    .nav_class{
        position: fixed;
    }
  }
  .land{
    background-image: url('./back.jpg');
    height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
  }
  .land_dark{
    
    background-color: rgba(365,365,365,0.7);
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    text-align: center;
  vertical-align: middle;
    
  }
  ::-webkit-scrollbar { 

    display: none;

}
.center{
 margin-top: -40%;
line-height: 40px;
padding-left: 120px;
  text-align: left;
  position: absolute;
  z-index: 999;

}
.icon{
  margin-left: 10px;
  height: 25px;
  width: 25px;
cursor: pointer;
}

.name{
  font-size: 45px;
  font-family:  cursive;
 
  color: #100303;
}
.about{
  height: 100vh;
  background-color: blue;
}
.education{
  height: 100vh;

}
.hobbi{
  height: 100vh;
  background-color: black;
}
.skill{
  height: 120vh;
 
}
.skill_cart{
  background-color: #100303;
  width: 100%;
  height: 80%;
}
.work{
  height: 100vh;

}
.vl {
  border-left: 4px solid grey;
  height: 65vh;
  position: absolute;
  margin-top: 5vh;
  margin-left: 60vh;
 
}
.java{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.one{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.two{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.three{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.four{
  height: 20px;
  width: 20px;
  background-color: #95389e;
  border-radius: 100px;
  margin-left: 10px;
}
.five{
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-left: 10px;
  background-color: rgb(149, 56, 158);
}
.java h1{
  font-size: 20px;
  margin-left: 220px;
}
.row_one{
  display: flex;
  flex-direction: row;
}
.kotlin{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.kotlin h1{
  font-size: 20px;
  margin-left: 80px;
}
.cpp{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.cpp h1{
  font-size: 20px;
  margin-left: 70px;
}
.intelij{
  
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.intelij h1{
    font-size: 20px;
    margin-left: 220px;
  
}
.spring{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.spring h1{
  font-size: 20px;
  margin-left: 70px;
}
.circle_one{
  height: 20px;
  width: 20px;
  border: 4px solid gray;
  border-radius: 100px;
  padding-right: 10px;
  position: absolute;
  margin-left: -13px;
  background-color: gray;
  z-index: 100;

}
.circle_two{
  height: 20px;
  width: 20px;
  border: 4px solid grey;
  border-radius: 100px;
  padding-right: 10px;
  position: absolute;
  margin-left: -13px;
  z-index: 1;
  margin-top: 32vh;
  background-color: gray;
}
.circle_three{
  height: 20px;
  width: 20px;
  border: 4px solid grey;
  border-radius: 100px;
  padding-right: 10px;
  position: absolute;
  margin-left: -13px;
  margin-top: 65vh;
  background-color: gray;
}
.yek{
text-align: left;
  margin-left: 50px;
  position: absolute;
height: 100px;
width: 400px;

}
.triangle{
  position: absolute;
  margin-left: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
  }
.do{
position: absolute;
margin-top: 31vh;
text-align: left;
margin-left: -420px;
height: 100px;
width: 370px;
}
.triangle1{
 
  margin-top: 31vh;
  position: absolute;
  margin-left: -50px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 20px solid transparent;
  }
.se{
  position: absolute;
  margin-top: 64vh;
  text-align: left;
  margin-left: 50px;
  height: 100px;
width: 400px;
}
.triangle2{
  margin-top: 64vh;
  position: absolute;
  margin-left: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
  }
.one_edu{
position: absolute;
margin-top: 250px;
margin-left: 250px;
height: 150px;
width: 150px;
background-color: #100303;
border-radius: 100px;
}
.two_edu{
  position: absolute;
  margin-top: 550px;
  margin-left: 250px;
  height: 150px;
  width: 150px;
  background-color: #100303;
  border-radius: 100px;
}
.edu1{

}
.edu2{

}